<a href="https://colab.research.google.com/github/Pavitrakumar45/PythonProgramming/blob/main/String_and_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calculate Area of Circle


'''
radius --> User

Area = pi*r*r
Circumference =  2*pi*r
print('The area of Circle is', area)

'''
pi = 3.142
radius = float(input('Enter the radius of Circle : '))
area = pi*radius*radius

circumference = 2*pi*radius
print('The Area of Circle is ', area)
print('the circumference of circle is', circumference)

Enter the radius of Circle : 45
The Area of Circle is  6362.549999999999
the circumference of circle is 282.78

In [ ]:
# F string Method
print(f'The Circumference of Circle is {circumference} mm ')
print(f'The area of Circle is {area} mm^2')

The Circumference of Circle is 282.78 mm
The area of Circle is 6362.549999999999 mm^2

In [ ]:
str = 'Hello'
str1 = 'World'

print(str + str1)
print(str + ' '+ str1)

HelloWorld
Hello World

In [ ]:
# String Indexing

St = 'Hello Welcome to the world of Python Programming'


# Sting Slicing

print(St[6])
print(St[-10])
print(St[2:9])
print(St[:-1])
print(St[::2])
print(St[4:-4:2])
print(St[::-1])
print(St[4:-4:-1])

W
r
llo Wel
Hello Welcome to the world of Python Programmin
HloWloet h ol fPto rgamn
oWloet h ol fPto rga
gnimmargorP nohtyP fo dlrow eht ot emocleW olleH

In [ ]:
# List Definition

lst = [100,200,300,400]

# List Slicing
print(lst[2])
print(lst[-2])
print(lst[:-2])

lst1 = [100,200,300,400,[500,600,700,800,['Hi','Python','How']]]

print(lst[:2])
print(lst1[4][2])
print(lst1[4][4][1])

300
300
[100, 200]
[100, 200]
700
Python

In [ ]:
lst2 = [100,[200,300,[10,20,400,500,'Hii',[500],200],400,456],78]

print(lst2[1][2][4])
print(lst2[1][2][5])
print(lst2[-2][-2])

Hii
[500]
400

In [ ]:
lst = []
lst.append('Hello')
lst.insert(1,'World')
lst.pop()
print(lst)

['Hello']

In [ ]:
str = ' Hello'
print(str.upper())

 HELLO

In [ ]:
lst = [10,20,30,40,50]
lst.append(60)
lst.insert(4,300)
lst.remove(300)
print(lst)

[10, 20, 30, 40, 50, 60]

In [ ]:
lst = [100,200,100,300,400,500]
lst.remove(100)

print(lst)

[200, 100, 300, 400, 500]

In [ ]:
for i in lst:
  print(i)

200
100
300
400
500

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
  print(i , end = ' ' )

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Tuple


tup = (10,20,30)

In [ ]:
lst = [10,20,30,40,50,60]

lst.reverse()

print(lst)

[60, 50, 40, 30, 20, 10]

In [ ]:
lst = [100,500,600,300,400,200]

lst.sort()

print(lst)

[100, 200, 300, 400, 500, 600]

In [ ]:
lst = [10,20,[30,40,[50,60,[70,80,[[40]]]],70],80]

print(lst[-2][-2][-1][-1][-1])

[40]

In [ ]:
lst = [10,20,(100,200),[300,400,900]]

print(lst[2][1])

200

In [ ]:
print(type(lst))

<class 'list'>

In [ ]:
tup = (100,200,300,400,[600,700])

In [ ]:
# Dictionary

dict = { 'A': 10, 'B':20,'C':30}


dict.values()

dict_values([10, 20, 30])

In [ ]:
dict.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
dict.update({'D':40})

In [ ]:
dict

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [ ]:
dict = {'India': [100,200,300,400],
        'USA': [500,600,700,800],
        'UK':['Hii','World','Python']}

In [ ]:
dict['India'][2]

300

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)
  if i ==5:
    break

0
1
2
3
4
5

In [ ]:
for i in range(0,10):
  print(i)
  if i ==5:
    pass

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  if i%2 == 0:
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
  if i%2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
'''
if <Condition = True>:
  print('String')



Note:
= --> Assignment Operator

== --> Comparison Operator

'''


if 1 ==1 :
  print('Hello World')

Hello World

In [ ]:
# Using IF ELSE condition

num = 100

if num > 300:
  print('the num is greater value')
else:
  print('the num is smaller value')

the num is smaller value

In [ ]:
'''

if < Condition = True>:
  <statement>
elif <Condition = True>:
  <Statemnet>
else:
  <Statement>

'''
number = float(input('Enter the number : '))

threshould = 200

if number > threshould:
  print('The number is greater than threshould')

elif number == threshould:
  print('The number is equal to threshould')

else:
  print('The number is less then threshould')

Enter the number : 200
The number is equal to threshould

In [ ]:
marks  = int(input('student marks: ' ))

if marks >= 80:
  print('Bright Student')
elif marks >= 70 and marks <= 79:
  print('Good Student')
elif marks >=60 and marks <= 69:
  print('Avg Student')
elif marks >= 50 and marks <= 59:
  print('Weak Student')
else:
  print('Low Grade')

student marks: 89
Bright Student

In [ ]:
number = int(input('Enter the Number: '))

factorial = 1
for i in range(1,number+1):
  factorial = factorial * i

print(factorial)

Enter the Number: 5
120

In [ ]:
import math

math.factorial(number)

120

In [ ]:
# Calculate the Square Root and power of number

num = 2**3     # Power
print(num)

num1 = 4**0.5  # Square Root
print(num1)

8
2.0

In [ ]:
math.pow(2,3)

8.0

In [ ]:
math.sqrt(9)

3.0

In [ ]:
withdraw = int(input('Enter the Amount: '))
balance = 5000

if withdraw <= balance:
  print('The balance is : ', balance - withdraw)
elif withdraw == balance:
  print('The balance is zero ')
elif withdraw > balance:
  print('Insufficient Balance')
else:
  print('No Transaction')

Enter the Amount: 2000
The balance is :  3000

In [ ]:
num = 0

while num <10 :

  num = num + 1
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,0,-1):
  print('*'* i)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range(0,10):
  print('*'* i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in range(0,10):
  print('*'* i)
for i in range(10,0,-1):
  print('*'* i)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
 # Create Function

num = 1000
def sum():
  num = 100
  print(num)

sum()  # Function Calling

100

In [ ]:
def sum():
  num = 100
  num1= 200
  num3 = num1 + num
  print(f'the sum of two numbers {num1} and {num} is',num3)

sum()

the sum of two numbers 200 and 100 is 300

In [ ]:


def addition():
   number1 = float(input('Enter The  First Number'))
   number2 = float(input('Enter The Second Number'))
   num3 = number1 + number2
   print(f'The Addition of two Number {number1} and {number2} is',num3)

addition()

def subtraction():
   number1 = float(input('Enter The  First Number'))
   number2 = float(input('Enter The Second Number'))
   num3 = number1 - number2
   print(f'The Subtraction of two Number {number1} and {number2} is',num3)

subtraction()

def multiplication():
   number1 = float(input('Enter The  First Number'))
   number2 = float(input('Enter The Second Number'))
   num3 = number1 * number2
   print(f'The Multiplication of two Number {number1} and {number2} is',num3)

multiplication()

def division():
   number1 = float(input('Enter The  First Number'))
   number2 = float(input('Enter The Second Number'))
   num3 = number1 / number2
   print(f'The Division of two Number {number1} and {number2} is',num3)

division()

Enter The  First Number500
Enter The Second Number25
The Addition of two Number 500.0 and 25.0 is 525.0
Enter The  First Number500
Enter The Second Number25
The Subtraction of two Number 500.0 and 25.0 is 475.0
Enter The  First Number500
Enter The Second Number25
The Multiplication of two Number 500.0 and 25.0 is 12500.0
Enter The  First Number500
Enter The Second Number25
The Division of two Number 500.0 and 25.0 is 20.0

In [ ]:
def abc():
  num1 =  10000
  num2 =  20000

  return num1+num2

a = abc()
print(a)

30000

In [ ]:
def star():
  num = 10
  num2 = 50
  num3 = num+num2
  return num3

var = star()
print(var)

60

In [ ]:
# Write a code to Verify wether string is palindrom or not

string = input('Enter the String ')
if string == (string[::-1]):
  print('The string is pallindrom')
else:
  print('The string is not pallindrom')

Enter the String nursesrun
The string is pallindrom